body {
    background-color: black;
    text-align: center;
    color: aliceblue;
    font-weight: bolder;
    font-size: 50px;
    zoom: 65%;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    border: solid white;
    padding-bottom: 40px;
}
.pages, .pages2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
.pages img {
    width: 65%;
    border: solid white;
    border-radius: 10px;
}
.pages2 img {
    width: 65%;
    border: solid white;
    border-radius: 10px;
}
button {
    font-size: 25px;
}
.container2 {
    display: flex;
    justify-content: space-between;
}
#dButton {
    align-self: flex-end;
}
#dButton2 {
    align-self: flex-end;
}
